@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Lato:wght@400;700&display=swap');

:root {
    /* -- COLORS -- */
    --background-color: #14191f;
    --border-color: #2b3540;
    --container-color: #14191f;
    --skill-tag-color: #2b3540;

    --primary-text-color: #ffffff;
    --secondary-text-color: #9dadbe;
  
    /* -- FONTS -- */
    --primary-font: 'Inter', 'Raleway', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--primary-font);
    background-color: var(--background-color);
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.5;
}

h2 {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: -0.015em;
    padding-bottom: 1rem;
}

h3 {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.015em;
    padding-bottom: 0.5rem;
}

a {
    color: var(--primary-text-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--secondary-text-color);
}

section {
      padding: 1rem 1.5rem;
}

.portfolio-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-content {
    width: 100%;
    max-width: 960px;
    margin: 0 auto; 
    padding: 1.25rem 0;
}


/* ----- HEADER ----- */
.site-header {
    font-family: var(--primary-font);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.3rem 2.25rem;
    border-bottom: 1px solid var(--border-color);
    width: 100%;
    background-color: var(--background-color);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo-icon {
    width: 1rem;
    height: 1.3rem;
    padding-bottom: 0.3rem;
}

.logo-title {
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -.015em;
    padding-bottom: 0.3rem;
    line-height: 1;
}

.header-right {
    display: flex;
    align-items: center;
    padding-bottom: 0.25rem;
    gap: 2.25rem;
}

.main-nav ul {
    display: flex;
    align-items: center;
    gap: 2.25rem;
    list-style: none;
}

.main-nav a {
    font-size: 14px;
    font-weight: 500;
}

.profile-picture-header {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    background-color: var(--border-color); 
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOfbX2kb9ObVWA6GGD8N3tbTk4LK1Q3PsAcQ&s'); 
    background-size: cover;
    background-position: center;
}
/* ----- END HEADER ----- */

/* ----- PROFILE SECTION ----- */

.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.profile-picture-main {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    background-color: var(--border-color);
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOfbX2kb9ObVWA6GGD8N3tbTk4LK1Q3PsAcQ&s');
    background-size: cover;
    background-position: center;
}


.profile-name {
    font-family: var(--title-font);
    font-size: 22px;
    font-weight: 600;
    letter-spacing: -0.015em;
}

.profile-graduation,
.profile-university {
    color: var(--secondary-text-color);
}
/* ----- END PROFILE SECTION ----- /*


/* ----- BIOGRAPHY SECTION ----- */
.biography-section p,
#competencies p {
    color: var(--primary-text-color);
}
/* ----- END BIOGRAPHY SECTION */


/* ----- SKILLS SECTION ----- */
.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    padding: 0.75rem 0;
}

.skill-tag {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--skill-tag-color);
    padding: 0 1rem;
    height: 32px;
    border-radius: 999px;
    font-size: 14px;
    font-weight: 500;
    
}




/* ----- END SKILLS SECTION ----- */

