@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Lato:wght@400;700&display=swap');

:root {
    /* -- colors -- */
    --background-color: #14191f;
    --border-color: #2b3540;
    --container-color: #14191f;
    --skill-tag-color: #2b3540;

    --primary-text-color: #ffffff;
    --secondary-text-color: #9dadbe;
    --secondary-text-color-rgb: 157, 173, 190;
  
    /* -- fonts -- */
    --primary-font: 'Inter', 'Raleway', sans-serif;
}


/* ----- ANIMATIONS ----- */
@keyframes skill-tag-shake {
    0%, 100% {
        transform: translateX(0) translateY(-6px);
    }
    15%, 45% {
        transform: translateX(-4px);
    }
    60%, 90% {
        transform: translateX(4px);
    }
    30% {
        transform: translateX(4px) translateY(-7px);
    }
    75% {
        transform: translateX(-4px) translateY(-5px);
    }
}


/* ----- END ANIMATIONS ----- */


/* ----- QUERIES ----- */
@media (max-width: 768px) {
    .project-read-more {
        opacity: 0.9 !important;
    }
}

/* ----- END QUERIES ----- */


/* ----- GENERAL ----- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--primary-font);
    background-color: var(--background-color);
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.5;
}

h2 {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: -0.015em;
    padding-bottom: 1rem;
}

h3 {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.015em;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

a {
    color: var(--primary-text-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--secondary-text-color);
}

section {
      padding: 1rem 1.5rem;
}

.cv-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-content {
    width: 100%;
    max-width: 960px;
    margin: 0 auto; 
    padding: 1.25rem 0;
}

/* -- function classes -- */
.not-selected {
    opacity: 0.5;
}

.is-active {
    background-color: var(--border-color, #0077b6);
    transform: scale(1.01);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.35);
    transition: transform 0.2s ease-in;
}

/* -- scrollbar -- */
::-webkit-scrollbar {
    display: none;
}

/* ----- END GENERAL ----- */


/* ----- HEADER ----- */
.site-header {
    font-family: var(--primary-font);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.3rem 2.25rem;
    border-bottom: 1px solid var(--border-color);
    width: 100%;
    background-color: var(--background-color);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo-icon {
    width: 1rem;
    height: 1.35rem;
    padding-bottom: 0.35rem;
}

.logo-title {
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -.015em;
    padding-bottom: 0.3rem;
    line-height: 1;
}

.header-right {
    display: flex;
    align-items: center;
    padding-bottom: 0.25rem;
    gap: 1.5rem;
}

.main-nav ul {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    list-style: none;
}

.main-nav a {
    font-size: 14px;
    font-weight: 500;
    display: block;
    padding: 0.5rem 0.55rem;
}

/* -- Dropdown Menu -- */
.main-nav li.has-dropdown {
    position: relative;
}

.has-dropdown > a::after {
    content: ' »';
    display: inline-block;
    margin-left: 5px;
}

.has-dropdown ul.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: auto;
    background-color: var(--background-color);
    list-style: none;
    padding: 0.5rem 0;
    margin: 0;
    min-width: 200px;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
    z-index: 1001;
}

.dropdown-menu li {
    width: 100%;
    border-bottom:1px solid var(--border-color);
    border-top: 1px solid var(--border-color);

}

.dropdown-menu li a {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    padding: 0.75rem 1.5rem;
    color: var(--primary-text-color);
    font-size: 14px;
    white-space: nowrap;
    text-align: left;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-menu svg {    
    
    fill: var(--secondary-text-color);
}

.dropdown-menu li a:hover {
    background-color: var(--border-color, #0077b6);
    color: var(--secondary-text-color);
}

.has-dropdown:hover > .dropdown-menu {
    display: block;
}

/* -- Profile Picture -- */
.profile-picture-header {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    background-color: var(--border-color); 
    background-image: url('../assets/pfp.jpg'); 
    background-size: cover;
    background-position: center;
}
/* ----- END HEADER ----- */


/* ----- MAIN ----- */
.main-content {
    padding-bottom: 3.5rem;
}
/* ----- END MAIN ----- */


/* ----- PROFILE SECTION ----- */

.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 0.5rem;
    gap: 1rem;
}

.profile-picture-main {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    background-color: var(--border-color);
    background-image: url('../assets/pfp.jpg');
    background-size: cover;
    background-position: center;
}


.profile-name {
    font-family: var(--title-font);
    font-size: 22px;
    font-weight: 600;
    letter-spacing: -0.015em;
}

.profile-graduation,
.profile-university {
    color: var(--secondary-text-color);
}
/* ----- END PROFILE SECTION ----- /*


/* ----- BIOGRAPHY SECTION ----- */
.biography-section p,
#competencies p {
    font-size: 14px;
    font-weight: 300;
    color: var(--primary-text-color);
}
/* ----- END BIOGRAPHY SECTION */


/* ----- SKILLS SECTION ----- */
.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    padding: 0.75rem 0;
}

.skill-tag {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--skill-tag-color);
    padding: 0 1rem;
    height: 32px;
    border-radius: 999px;
    font-size: 14px;
    font-weight: 400;
    transition: transform 0.2s ease-in-out;
    border: 1px solid rgba(177, 177, 177, 0.3);
    box-shadow: 0px 1px 1px rgba(177, 177, 177, 0.25);
}

.skills-container .skill-tag:hover {
    transform: translateY(-6px);
}

.skills-container .skill-tag:active {
    animation: skill-tag-shake 0.3s ease-in-out;
}


/* ----- END SKILLS SECTION ----- */


/* ----- PROJECTS SECTION ----- */
#projects article {
    margin-bottom: 2rem;
}

.project-card {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding-left: 0.25rem;
    border-radius: 10px;
    gap: 1rem;
    margin-bottom: 0 !important;


    transition: transform 0.2s ease-in-out;
    transition: background-color 0.3s ease color 0.3s ease;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
}

.project-card:hover {
    background-color: var(--border-color, #0077b6);
    transform: scale(1.01);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.35);
    transition: transform 0.2s ease-in;
}

.project-card:active {
    transform: scale(1);
}

.project-info {
    padding-left: 0.25rem;
    padding-top: 0.25rem;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}

.project-title {
    font-size: 16px;
    font-weight: 600;
}

.project-description {
    font-size: 14px;
    color: var(--secondary-text-color);
}

.project-read-more {
    font-size: 12px;
    color: var(--secondary-text-color);
    font-weight: 400;
    opacity: 0;
    transition: all ease-out 0.1s;
}

.project-card:hover .project-read-more {
    opacity: 0.9;
}

.project-card.is-active .project-read-more {
    opacity: 0.9;
}

.project-image {
    flex: 1;
    aspect-ratio: 16 / 9;
    border-radius: 12px;
    background-color: var(--border-color);
    background-size: cover;
    background-position: center;
}

/* -- Project images -- */
#project1-card .project-image {
    background-image: url('../assets/SideChef.png');
}


/* ----- END PROJECTS SECTION ----- */


/* ----- PROJECTS COLLAPSIBLE ----- */
.project-card-collapsible-content {
    margin-top: 0;
    padding-inline: 1rem;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    max-height: 0;
    transition: max-height 0.1s ease-out;
    overflow: hidden;
    background-color: #2b35404a;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.35);

}

.project-card-collapsible-description {
    padding-bottom: 1.5rem;
    font-size: 15px;
    font-weight: 400;
    color: var(--secondary-text-color);
}

.project-card-collapsible-contribution-list {
    padding-left: 1rem;
    padding-bottom: 1rem;
    font-size: 15px;
    font-weight: 400;
    color: var(--secondary-text-color);
}

.project-card-collapsible-contribution-list-item {
    padding-bottom: 4px;
}


/* ----- EXPERIENCES SECTION ----- */
.timeline {
    position: relative;
    border-left: 2px solid var(--border-color);
    list-style: none;
}

.timeline-item {
    position: relative;
    padding-top: 0.25rem;
    padding-bottom: 1.5rem;
    padding-left: 1rem;
    margin-bottom: 0.75rem;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;

    transition: background-color 0.3s ease-in-out, opacity 0.2s ease-in-out;
}

.timeline-item:hover {
    background-color: var(--border-color, #0077b6);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.timeline-item:hover .timeline-dot {
    opacity: 0;
    transform: scale(0.5);
}

.timeline-item:hover svg {
    transform: translateY(1px);
}

.timeline-item:last-child {
    margin-bottom: 0;
}

/* -- Timeline dot -- */
.timeline-dot {
    position: absolute;
    left: -0.5rem;
    top: 0.4rem;
    width: 0.95rem;
    height: 0.95rem;;
    background-color: var(--border-color);
    border: 2px solid var(--background-color);
    border-radius: 50%;
    transition: transform 0.3s ease-in-out, opacity 0.4s ease;
}

.timeline-item svg {
    transform: translateY(8px);
    height: 24px;
    width: 24px;
    fill: var(--primary-text-color);
    transition: transform 0.2s ease-in-out;
}

/* -- Timeline content -- */
.timeline-date {
    display: block;
    margin-bottom: 0.1rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: var(--secondary-text-color);
}

.title-content {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.timeline-title {
    font-weight: 500;
    color: var(--primary-text-color);
    margin-bottom: 0.1rem;
}

.timeline-description {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 400;
    color: var(--secondary-text-color);
}


/* ----- END EXPERIENCES SECTION ----- */


/* ----- REFERENCES SECTION ----- */

.reference-list {
    padding-left: 1.5rem;
    color: var(--secondary-text-color);
    font-weight: 300;
}

#references li {
    display: flex;
    align-items: center;
    gap: 4px;
}

.reference-title {
    font-size: 16px;
    color: var(--secondary-text-color);
    font-weight: 800;
}

#references a {
    color: var(--secondary-text-color);
    transition: color ease 0.3s
}

#references a:hover {
    color: var(--primary-text-color);
}

#references .btn-copy {
    display: grid;
    place-items: center;

    background: transparent;
    border: none;
    cursor: pointer;
    color: var(--secondary-text-color);
}

#references .btn-copy svg {
    grid-area: 1 / 1;
    height: 24px;
    width: 24px;
    color: var(--secondary-text-color);
    transition: color ease 0.3s;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275)
}

#references svg:hover {
    color: var(--primary-text-color);
}

#references .copy-icon {
    opacity: 1;
    transform: scale(1) rotate(0deg);
}

#references .copy-check {
    opacity: 0;
    transform: scale(0.5) rotate(-90deg);
    z-index: -100;
}

#references .btn-copy.copied .copy-icon {
    opacity: 0;
    transform: scale(0.5);
}

#references .btn-copy.copied .copy-check {
    opacity: 1;
    transform: scale(1) rotate(0deg);
    z-index: 1;
}


/* ----- END REFERENCES SECTION ----- */


/* ----- FOOTER ----- */
.site-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 300;
    color: var(--secondary-text-color);
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    border-top: 1px solid var(--border-color);
}

.footer-content {
    text-align: center;
}

.network-icons {
    display: inline-flex;
    gap: 1rem;
}

.network-icons svg {
    height: 24px;
    width: 24px;
    fill: var(--secondary-text-color);
}

.network-icons svg:hover{
    fill: var(--border-color);
}

/* ----- END FOOTER ----- */
